<div class="collab">
    <div class="collab-genre">
        <div class="title">Các dòng nhạc có thể hợp tác</div>
        <div class="collab-subgenre">
            <div class="subgenre-title">Future Bass</div>
            <div class="gerne-product">
                <iframe width="100%" height="100" scrolling="no" frameborder="no" allow="autoplay" style="border-radius:10px" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1093799569&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
                    <a href="https://soundcloud.com/dylann_offical" title="Dylan" target="_blank" style="color: #cccccc; text-decoration: none;">Dylan</a> · 
                    <a href="https://soundcloud.com/dylann_offical/da-lab-thuc-giac-dylan-remix" title="Da LAB - &quot; Thức Giấc &quot; - Dylan Remix" target="_blank" style="color: #cccccc; text-decoration: none;">Da LAB - &quot; Thức Giấc &quot; - Dylan Remix</a></div>
                </div>
        
            <div class="subgenre-title">House</div>
            <div class="gerne-product">
                <iframe width="100%" height="100" scrolling="no" frameborder="no" allow="autoplay" style="border-radius:10px" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1191278269&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
                    <a href="https://soundcloud.com/dylann_offical" title="Dylan" target="_blank" style="color: #cccccc; text-decoration: none;">Dylan</a> · 
                    <a href="https://soundcloud.com/dylann_offical/dinh-dung-de-vuong-lan-huong-cover-dylan-remix-slap-house-mix" title="Đình Dũng-Đế Vương-Lan Hương Cover-Dylan Remix | Slap house Mix" target="_blank" style="color: #cccccc; text-decoration: none;">Đình Dũng-Đế Vương-Lan Hương Cover-Dylan Remix | Slap house Mix</a></div>
            </div>
            
            <div class="subgenre-title">Lofi</div>
            <div class="gerne-product">
                <iframe width="100%" height="100" scrolling="no" frameborder="no" allow="autoplay" style="border-radius:10px" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1139901340&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
                    <a href="https://soundcloud.com/dylann_offical" title="Dylan" target="_blank" style="color: #cccccc; text-decoration: none;">Dylan</a> · 
                    <a href="https://soundcloud.com/dylann_offical/s-i-g-n-h-m-nay-m-a-lofi" title="Sài gòn hôm nay mưa - Lofi" target="_blank" style="color: #cccccc; text-decoration: none;">Sài gòn hôm nay mưa - Lofi</a></div>
            </div>

            <div class="subgenre-title">Type beat</div>
            <div class="gerne-product">
                <iframe width="100%" height="100" scrolling="no" frameborder="no" allow="autoplay" style="border-radius:10px" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1155421423&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
                    <a href="https://soundcloud.com/dylann_offical" title="Dylan" target="_blank" style="color: #cccccc; text-decoration: none;">Dylan</a> · 
                    <a href="https://soundcloud.com/dylann_offical/get-up-and-chill-type-beat" title="Get up and Chill - Type beat" target="_blank" style="color: #cccccc; text-decoration: none;">Get up and Chill - Type beat</a></div>
            </div>

        </div>
    </div>

    <div class="contactto">
        <div class="title">Thông tin liên hệ</div>
            <div class="social">
                <div class="image"></div>
                <div class="content-social">
                    <div class="content-social-icon-1"></div>
                    <div class="content-social-text">Họ và tên     : Phạm Duy Phương</div>
                </div>
                <div class="content-social">
                    <div class="content-social-icon-2"></div>
                    <div class="content-social-text">Số điện thoại : 0303030303</div>
                </div>
                <div class="content-social">
                    <div class="content-social-icon-3"></div>
                    <div class="content-social-text">Gmail         : dylan.mproducer@gmail.com</div>
                </div>
            </div>
        
    </div>
</div>
