<div class="original">
    <div class="released">
        <div class="title">Các sản phẩm đã phát hành</div>
        <div class="content">
            <div class="content-product">
                <div class="content-product-tag">
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/245PsQsQl7AIjJyTRQqomn?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>                </div>
                <div class="content-product-tag">
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/6PTbCfb2QDcpP2SHPeWWVB?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>                </div>
            </div>
        </div>
    </div>

    <div class="coming">
        <div class="title">Các sản phẩm sắp phát hành</div>
        <div class="content">
            <div class="content-product">
                <div class="content-product-tag">
                    <iframe width="100%" height="150" scrolling="no" frameborder="no" allow="autoplay" style="border-radius:12px" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1372784695%3Fsecret_token%3Ds-YXBXsIounzP&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                    <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
                        <a href="https://soundcloud.com/dylann_offical" title="Dylan" target="_blank" style="color: #cccccc; text-decoration: none;">Dylan</a> · 
                        <a href="https://soundcloud.com/dylann_offical/dylan-sunday/s-YXBXsIounzP" title="Sunday ID" target="_blank" style="color: #cccccc; text-decoration: none;">Sunday ID</a></div>
                    </div>
                <div class="content-product-tag">
                    <iframe width="100%" height="150" scrolling="no" frameborder="no" allow="autoplay" style="border-radius:12px" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1398441937%3Fsecret_token%3Ds-s3HnO112d62&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                    <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
                        <a href="https://soundcloud.com/dylann_offical" title="Dylan" target="_blank" style="color: #cccccc; text-decoration: none;">Dylan</a> · 
                        <a href="https://soundcloud.com/dylann_offical/dylan-the-galaxy/s-s3HnO112d62" title="Dylan - The Galaxy" target="_blank" style="color: #cccccc; text-decoration: none;">Dylan - The Galaxy</a></div>
                </div>
        </div>
    </div>

</div>
<footer>
    <div class="footer">
      <div class="footer-tag">
        <div class="footer-first-name">DYLAN MUSIC</div>
        <div class="footer-first-des">Bring music to everywhere</div>
      </div>
      <div class="footer-tag">
        <div class="footer-title">Sản phẩm</div>
        <div class="footer-second-menu">
          <ul>
            <li>Tất cả sản phẩm</li>
            <li>Nổi bật</li>
            <li>Remix</li>
            <li>Typebeat</li>
          </ul>
        </div>
      </div>
      <div class="footer-tag">
        <div class="footer-title">Liên lạc</div>
        <div class="footer-menu">
          <ul>
            <li>Website</li>
            <li>Facebook</li>
            <li>Gmail</li>
            <li>Spotify</li>
            <li>Soundclound</li>
          </ul>
        </div>
      </div>
      <div class="footer-tag">
        <div class="footer-title">Khác</div>
        <div class="footer-menu">
          <ul>
            <li>Bản quyền</li>
            <li>Hợp tác</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
