<div class="knowledge">
    <div class="space"></div>
    <div class="tip1">
        <h1>Tại sao bạn cần biết nhạc lý</h1>
        <div class="source">
            <div class="source-img1"></div>
            <div class="source-text">
                <h2>Lý do</h2>
                <p>Nhạc lý là một trong những yếu tố cốt lõi làm nên một bài nhạc. 
                   Nhạc lý như là một quy luật mà người người sáng tác bắt buộc phải tuân theo, các luật này được đúc kết từ nhiều thế hệ.</p>
            </div>
        </div>

        <div class="source">
            <div class="source-img2"></div>
            <div class="source-text">
                <h2>Tuân theo nhạc lý bạn sẽ tạo được những dòng cảm xúc riêng</h2>
                <p>Mỗi một cách phối hợp các nốt trong dải nốt sẽ tạo nên một tập hợp các nốt gọi là hoà thanh</p>
                <p>Mỗi một cách kết hợp 3 nốt lại theo một quy tắc sẽ tạo nên một tập hợp gọi là hợp âm , mỗi hợp âm có một màu sắc khác nhau</p>
                <p>Mỗi một cách sắp xếp các hợp âm lại tạo thành một vòng hoà âm cụ thể mang những giai điệu cụ thể , cách sắp xếp sẽ tạo nên một mood nhất định cho bài nhạc. 
                    Nếu biết cách kiểm soát những vòng hợp âm thì chẳng khác nào chúng ta tự kiểm soát được chính những cảm xúc, màu sắc của bài hát của mình</p>
            </div>
        </div>

        <div class="source">
            <div class="source-img3"></div>
            <div class="source-text">
                <h2>Giai điệu sẽ gắn kết và hay hơn</h2>
                <p>Trong một bài hát , các giai điệu cũng bắt buộc phải tuân theo các quy tắc về hợp âm và hoà thanh. 
                    Nếu một trong số các nốt ở một độ cao sai với hoà thanh thì sẽ tạo ra một thứ gọi là sai nốt,sai tone.Nó sẽ tạo ra một nốt không kết nối với các nốt trước tạo nên cảm giác không hay.</p>
                <p>Sử dụng các quy tắc hợp lý bạn có thể tạo nên một giai điệu hay , bắt tai , dễ nghe , dễ thuộc điều này làm bài hát của bạn dễ chạm tới cảm xúc và dễ gây ấn tượng nhất với người nghe.</p>
                <p>Vận dụng sáng tạo các quy tắc nhạc lý bạn có thể tạo nhiều giai điệu , thay đổi các giai điệu là cho bài hát không bị dập khuôn ,nhàm chán.</p>
            </div>
        </div>

        <div class="source">
            <div class="source-img4"></div>
            <div class="source-text">
                <h2>Hoàn thiện bài nhạc một cách dễ dàng hơn</h2>
                <p>Từ việc tăng khả năng sáng tạo thì chúng ta có thể hoàn thiện bài nhạc một cách dễ dàng hơn. Các màu sắc cảm xúc cụ thể cũng sẽ là một nguồn cảm xúc khơi nguồn những sáng tạo cho bạn.</p>
                <p></p>
            </div>
        </div>

        <div class="source">
            <div class="source-img5"></div>
            <div class="source-text">
                <h2>Cải thiện khả năng nghe , khả năng xử lý âm thanh</h2>
                <p>Từ việc có kiến thức về nhạc lý bạn có thể nghe thấy những âm thanh sai , không hợp lý trong bài hát của bạn từ đó bạn có thể sửa hoặc loại bỏ chúng một cáh dễ dàng.</p>
                <p>Mở rộng từ việc nghe các nốt các gia điệu thì chúng ta có thể phát hiện các tần số không phù hợp các dỉa tần số bị chồng lấn bởi các nhạc cụ có cùng khoảng tần số từ đó sẽ có những biện pháp khắc phục.</p>
                <p>Từ nhạc lý ta có thể chọn các nhạc cụ phù hợp với bài hát của mình hơn , ví dụ như một cái trống TOM , không phải cái nào cũng phù hợp với bài nhạc của bạn ta sẽ biết chọn cái nào hợp lý.</p>
            </div>
        </div>

        <div class="source">
            <div class="source-img6"></div>
            <div class="source-text">
                <h2>Kết hợp với các nghệ sĩ khác một cách dễ dàng hơn</h2>
                <p>Khi có kiến thức nhạc lý chúng ta có thể lắng nghe một bài hát và nhận biết ra những đặc điểm nhất định của bài hát đó. </p>
                <p>Khi cần kết hợp sáng tác thì kahr năng đọc hiểu một bản nhạc rất quan trọng , nó giúp bạn hoà nhập vào với bản nhạc của người khác một cách dễ dàng hơn từ đó hiệu quả công việc được đẩy lên cao độ hơn.</p>
            </div>
        </div>
    </div>

<footer>
    <div class="footer">
      <div class="footer-tag">
        <div class="footer-first-name">DYLAN MUSIC</div>
        <div class="footer-first-des">Bring music to everywhere</div>
      </div>
      <div class="footer-tag">
        <div class="footer-title">Sản phẩm</div>
        <div class="footer-second-menu">
          <ul>
            <li>Tất cả sản phẩm</li>
            <li>Nổi bật</li>
            <li>Remix</li>
            <li>Typebeat</li>
          </ul>
        </div>
      </div>
      <div class="footer-tag">
        <div class="footer-title">Liên lạc</div>
        <div class="footer-menu">
          <ul>
            <li>Website</li>
            <li>Facebook</li>
            <li>Gmail</li>
            <li>Spotify</li>
            <li>Soundclound</li>
          </ul>
        </div>
      </div>
      <div class="footer-tag">
        <div class="footer-title">Khác</div>
        <div class="footer-menu">
          <ul>
            <li>Bản quyền</li>
            <li>Hợp tác</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</div>  
