<!--Smooth scrolling mouse : https://cdnjs.com/libraries/smoothscroll-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.6/SmoothScroll.min.js' type='text/javascript'></script>
<div class="allpage">
  <div class="content">
    <div class="backgroundfirst-dylan"></div>
    <div class="backgroundfirst">
    </div>


    <div class="content-1">
      <div class="content-1-text">
        <div class="content-1-newfeed">
          <div class="content-1-newfeed-header">
          <h1>Thông tin mới</h1>
          </div>

          <div class="content-1-newfeed-alltag">
            <div class="content-1-newfeed-tag">
              <div class="content-1-newfeed-tag-content-all">
                <div class="content-1-newfeed-tag-img">
                  <div class="content-1-newfeed-tag-1-img"></div>
                </div>
                <div class="content-1-newfeed-tag-header">
                  <h3>
                    Dylan sắp ra mắt 2 sản phẩm âm nhạc mới vào đầu năm 2023
                  </h3>
                  <p>Dec-12-2022</p>
                </div>
                <div class="content-1-newfeed-tag-content">
                  <p>
                    The Galaxy , bản original thuộc dòng Future Bass với tempo thấp dưới 100 BPM. The Galaxy vẫn sẽ mang những màu
                    sắc và chất liệu quen thuộc đến từ Dylan nhưng cũng sẽ có
                    rất nhiều chất liệu cũng như giai điệu mới lạ.
                  </p>
                  <p>
                    Sunday , bản type beat mang màu sắc tình cảm . Đây là sản
                    phẩm mang rất nhiều nguồn cảm hứng và không có quá nhiều sự kì
                    công, tất cả đều đến từ sự ngẫu hứng và nguồn cảm xúc. Dylan muốn mang đến
                    cho mọi người những năng lượng tích cực yêu đời "một bản
                    nhạc của tình yêu". Cùng đón chờ !!!
                  </p>
                </div>
              </div>
            </div>

            <div class="content-1-newfeed-tag">
              <div class="content-1-newfeed-tag-content-all">
                <div class="content-1-newfeed-tag-img">
                  <div class="content-1-newfeed-tag-2-img"></div>
                </div>
                <div class="content-1-newfeed-tag-header">
                  <h3>Cùng nhìn lại 2022 cùng Dylan với Spotify Wrapped</h3>
                  <p>Nov-11-2022</p>
                </div>
                <div class="content-1-newfeed-tag-content">
                  <p>
                    Năm 2022 chứng kiến sự bứt phá mạnh mẽ của Dylan với con số
                    trên các nền tảng nhạc số tăng mạnh , phải kể đến như
                    soptify hay youtube. Xem thêm tại đây :
                  </p>
                  <a
                    class="a"
                    href="https://wrappedforartists.byspotify.com/vi/?id=df59da703f35de8a810a1cd10a868f662f5bf23f86a8ec4594130089431fbec3"
                    >Spotify Wrapped</a
                  >
                </div>
              </div>
            </div>

            <div class="content-1-newfeed-tag">
              <div class="content-1-newfeed-tag-content-all">
                <div class="content-1-newfeed-tag-img">
                  <div class="content-1-newfeed-tag-3-img"></div>
                </div>
                <div class="content-1-newfeed-tag-header">
                  <h3>Live stream hằng tuần</h3>
                  <p>Jan-10-2023</p>
                </div>
                <div class="content-1-newfeed-tag-content">
                  <p>
                    Dylan vẫn duy truy chuyên mục live sttream hằng tuần để giao
                    lưu cùng mọi người cũng như chia sẻ kiến thức.Các bạn có câu hỏi gì hãy đặt cho Dylan để được hướng dẫn trực tiếp nhé !
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-2">
      <div class="content-2-title">
        <h1>Sản phẩm nổi bật</h1>
      </div>

      <div class="content-2-alltag">
        <div class="content-2-tag">
          <div class="content-2-tag-mainproduct">
            <div class="content-2-tag-img-m">
              <img
                class="content-2-tag-img-img"
                src="https://i.ytimg.com/vi/p2XU4RhLA8k/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBU0VsVqY3XJVNFy6UxuY7NMs3qWQ"
                alt="BoxMan x Dylan -Triết lí thơ ca"
              />
              <div class="content-2-tag-img-m-text-header">
                DUY BOXMAN x DYLAN - TRIẾT LÍ THƠ CA
                <div class="content-2-tag-img-m-text-des">
                  Một sản phẩm thành công rực rỡ nhờ bàn tay làm nhạc của Dylan
                  và khả năng xử lý vocal đỉnh cao của Duy BoxMan
                </div>
              </div>
            </div>
          </div>

          <div class="content-2-tag-left">

            <div class="content-2-tag-nomainproduct">
              <div class="content-2-tag-img-nm">
                <img
                  class="content-2-tag-img-nmimg"
                  src="https://i.ytimg.com/vi/VLref-fsjZg/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBj6SVpaEYz-IQ72bvinC6NJgQeug"
                  alt="Hành lang cũ Dylan Remix"
                />
                
                <div class="content-2-tag-img-nm-text-header">
                  LONG NÓN LÁ - HÀNH LANG CŨ (DYLAN REMIX)
                
                <div class="content-2-tag-img-nm-text-des">
                  Một sản phẩm thành công thuở bình minh
                </div>
                </div>
              </div>
            </div>
            
            <div class="content-2-tag-left-left">
              <div class="content-2-tag-img">
                <img
                  class="content-2-tag-img-i"
                  src="https://i.ytimg.com/vi/xgkNOU9VzdE/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDoPuPTlVQGX-PuI8tPM9iG3VgffQ"
                  alt="Thức giấc - Dylan Remix"
                />
                <div class="content-2-tag-img-text">
                  <div class="content-2-tag-img-text-header">
                    DALAB - THỨC GIẤC (DYLAN REMIX)
                  </div>
                  <div class="content-2-tag-img-text-des">
                  Một bản nhạc điện tử đánh dấu 1 thiên hướng mới trong phong
                  cách âm nhạc của Dylan
                  </div>
                </div>
              </div>

              <div class="content-2-tag-img">
                <img
                  class="content-2-tag-img-i"
                  src="https://i.ytimg.com/vi/OOgK6q2SABQ/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDI1LQdeA1USoq1NpGYyvVkt9cj1Q"
                  alt="Em hát ai nghe - Dylan Remix"
                />
                <div class="content-2-tag-img-text">
                  <div class="content-2-tag-img-text-header">
                    ORANGE -EM HÁT AI NGHE (DYLAN REMIX)
                  </div>
                  <div class="content-2-tag-img-text-des">
                  Một bản future bass với nguồn cảm hứng bất tận
                  </div>
                </div>
              </div>
              </div>

            </div> 
        </div>
      </div>
    </div>

    <footer>
      <div class="footer">
        <div class="footer-tag">
          <div class="footer-first-name">DYLAN MUSIC</div>
          <div class="footer-first-des">Bring music to everywhere</div>
        </div>
        <div class="footer-tag">
          <div class="footer-title">Sản phẩm</div>
          <div class="footer-second-menu">
            <ul>
              <li>Tất cả sản phẩm</li>
              <li>Nổi bật</li>
              <li>Remix</li>
              <li>Typebeat</li>
            </ul>
          </div>
        </div>
        <div class="footer-tag">
          <div class="footer-title">Liên lạc</div>
          <div class="footer-menu">
            <ul>
              <li>Website</li>
              <li>Facebook</li>
              <li>Gmail</li>
              <li>Spotify</li>
              <li>Soundclound</li>
            </ul>
          </div>
        </div>
        <div class="footer-tag">
          <div class="footer-title">Khác</div>
          <div class="footer-menu">
            <ul>
              <li>Bản quyền</li>
              <li>Hợp tác</li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
